body {
	color: white;
}

h2 {
	margin: 0 !important;
	padding: 20px;
}

main {
	text-align: center;
}

.paral {
	color: white;
	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.static {
	color: #7a5b48;
}

/* ************************ NAVBAR ********************** */


aside {
	position: fixed;
	/*background-color: rgba(135, 202, 229, 0.8);*/
	width: 130px;
	height: 100vh;
	top: 16%;
	z-index: 3;
}

#navbar {
	border-top-right-radius: 90px;
	border-bottom-right-radius: 90px;
	padding: 18px;
	font-size: 17px;
}

.nav-link {
	padding: 8px 0 !important;
	position: relative;
}

.nav-link a {
	position: absolute;
	float: left;
	text-decoration: none;
	color: #564132;
	font-size: 20px;
}

.hidden-nav {
	display: none;
}


/* ************************ MAIN ********************** */

.parallax1 {
	/* The image used */
    background-image: url("../img/1.jpeg");

    /* Set a specific height */
    min-height: 600px; 

    padding: 20px 40px;
    margin: 0;
}

.parallax1 p {
	padding: 10px 100px;
}

.contact-btns {
	padding: 20px;
	margin: 10px 20px;
}

.contact-btns a {
	margin: 10px;
	background-color: #7a5b48;
	opacity: 0.8;
	font-size: 16px;
}

.contact-btns a:hover {
	background-color: #54372a;
	opacity: 1.0;
	font-size: 18px;
}

.social-icons {
	margin-top: 35px;
}

.social-icons i {
	color: black;
}

.title {
	margin-top: 30px; 
}
@media screen and (max-width: 780px) {

	.about-btn {
		margin: 5px !important;
	}
	.parallax1 p {
		padding: 10px 40px;
		margin: 20px;
	}

	.myPhoto {
		float: left;
		width: 60%;
	}
}

.myPhoto {
	margin: 0 auto;
	display: block;
	width: 50%;
	border: 3px white solid;
	border-radius: 100%;
}

.myPhoto:hover {
	 box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
	 color: #fff;
	 border: 2px white solid;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
















.part1 {
	background-image: url("../img/white.jpg");
	color: #7a5b48;
	margin: 0;
	height: 600px;
}









/* ******************************** PORTFOLIO *****************************/

#portfolio {
	border: 1px black solid;
	min-height: 300px; 
}
.container {
  position: relative;
  width: 50%;
  display: inline-block;
  float: left;
}

.image {
  display: inline-block;
  width: 20%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 20%;
  left: 0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container2 {
  position: relative;
  width: 50%;
  display: inline-block;
  float: left;
}

.image2 {
  display: inline-block;
  width: 20%;
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container2:hover .overlay2 {
  width: 20%;
  left: 0;
}

.text2 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container3 {
  position: relative;
  width: 50%;
  display: inline-block;
  float: left;
}

.image3 {
  display: inline-block;
  width: 20%;
  height: auto;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container3:hover .overlay3 {
  width: 20%;
  left: 0;
}

.text3 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}







.parallax2 {
    /* Set a specific height */
    min-height: 450px; 
}

.part2 {
	background: white;
	color: #26a69a;
	height: 400px;
}

.parallax3 {
	/* The image used */
    background-image: url("../img/3.jpeg");

    /* Set a specific height */
    min-height: 500px; 
}

.part3 {
	background: white;
	height: 600px;
}
