body {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	margin: 0;
	font-family: 'Alegreya', serif;
	color: white;
}

.active {
	display: block !important;
}

.invisible, .previous, .next {
	display: none !important;
}

/* --------------- NAVIGATION --------------------*/

aside {
	position: fixed;
	/*background-color: rgba(135, 202, 229, 0.8);*/
	width: 130px;
	height: 100vh;
	top: 16%;
}

#navbar {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	padding: 18px;
	font-size: 17px;
}

.nav-link {
	padding: 8px 0 !important;
	position: relative;
}

.nav-link a {
	position: absolute;
	float: left;
	text-decoration: none;
	color: #024D73;
	font-size: 20px;
}

.hidden-nav {
	display: none;
}

/* ------------------------- MAIN DIVS ---------------------*/

.scrollDiv {
	width: 90%;
	float: right;
	height: 100vh;
	text-align: center;
}

/*__________________________ about ________________________*/

#about {
	/* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
	border: 2px black solid;
}

#about h1 {
	margin-bottom: 5px;
}

@media screen and (min-width: 865px) {

	#about h1:hover {
		letter-spacing: 5px;
	}
}

.myPhoto {
	margin: 0 auto;
	display: block;
	width: 35%;
	border: 3px white solid;
	border-radius: 100%;
}

@media screen and (min-width: 780px) {

	.myPhoto {
		margin: 0 auto;
		display: block;
		width: 20%;
	}

}

.myPhoto:hover {
	 box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4);
	 color: #fff;
	 border: 2px white solid;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#about h2 {
		font-size: 30px;
}

#about p {
		margin: 10px 80px;
		font-size: 16px;
}

@media screen and (max-width: 780px) {
	#about h1 {
		font-size: 30px;
	}
	#about p {
		margin: 10px 20px;
		font-size: 13px;
	}
	#about h2 {
		font-size: 20px;
	}

	.about-btn {
		margin: 5px !important;
	}
}

.about-btn {
		background-color: #169dce !important;
		width: 210px;
		padding: 3px;
		margin: 15px;
}

.about-btn i {
	margin: 1px !important;
}

.social-icons {
		margin-top: 15px;
}

i.social {
	margin: 6px;
	color: #024D73;
	cursor: pointer;
}

i.social:hover {
	padding: 0 10px;
	color: #169dce;
}



/*__________________________ skills ________________________*/


#skills {
	/* background-color: #4CBE9E; */
	border: 2px black solid;
}


/*__________________________ portfolio ________________________*/


#portfolio {
	/* background-color: #5C4B51; */
	border: 2px black solid;
}



/*__________________________ ejournal ________________________*/


#ejournal {
	/* background-color: #F39C5C; */
	border: 2px black solid;
}


/*__________________________ contact ________________________*/


#contact {
	/* background-color: #4CBE9E; */
	border: 2px black solid;
}



/*__________________________ try now ________________________*/


#try {
	/* background-color: #F06060; */
	border: 2px black solid;
}
